@import "_nullformat";

body {
   font-size: 20px;
   div {
      font-size: 10px;
   }
   table {
      color: #f11;
      a {
         font-size: 10px;
      }
   }
}

.vasia_red {
   color: aqua;
}

.vasia_red2 {
   font-size: 40px;
}
